<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.IUserDao">
    <!--resultMap 查询的结果集映射-->
    <resultMap id="userList" type="com.ssm.pojo.User">
        <!--id:表示主键：
            result ：表示普通的字段
            property：实体类的 属性名
            column：执行完sql 语句的 字段名
        -->
        <id column="id" property="id"></id>
        <id column="email" property="email" ></id>
        <id column="password" property="password" ></id>
        <id column="username" property="username" ></id>
        <id column="role" property="role" ></id>
        <id column="status" property="status" ></id>
        <id column="regTime" property="regTime" ></id>
        <id column="regIp" property="regIp" ></id>
    </resultMap>

    <select id="getAllUser" resultMap="userList">
        select * FROM  user;
    </select>
</mapper>
